Makefile.in
!po/Makefile.in
Makefile
aclocal.m4
intltool.m4
compile
configure
depcomp
install-sh
ltmain.sh
*.o
.deps
*.lo
*.la
*.a
m4/
missing
config.guess
config.h
config.h.in*
config.log
config.rpath
config.status
config.sub
libtool
po/Makefile
po/POTFILES
po/*.gmo
po/*.mo
po/stamp-it
stamp-h1
Makefile
intltool-extract.in
intltool-merge.in
intltool-update.in
src/xml-purge
src/lxrandr
debian/files
debian/lxrandr.debhelper.log
debian/lxrandr.substvars
debian/lxrandr/
po/.intltool-merge-cache
autom4te.cache
